.container {
    height: auto;
    width: auto;
    display: flex;
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item {
    height: 250px;
    width: 250px;
    border: 2px solid red;
    background-color: yellow;    
}

.gap{
    gap: 10px 10px;
}

.container-item-row{
    flex-direction: row;
}

.container-item-row-reverse{
    flex-direction: row-reverse;
}

.container-item-coloumn{
    flex-direction: column;
}

.container-item-coloumn-reverse{
    flex-direction: column-reverse;
}

.container-flex-wrap-no-wrap{
    flex-wrap: nowrap;
}

.container-flex-wrap-wrap{
    flex-wrap: wrap;
}

.container-flex-wrap-wrap-reverse{
    flex-wrap: wrap-reverse;
}

/* Latihan Dua */

.container-dua {
    display: flex;
}

.item-dua {
    height: 250px;
    width: 250px;
    border: 2px solid red;
    background-color: yellow;    
}

/* Main axis */
.container-justify-content-flex-start{
    justify-content: flex-start;
}

.container-justify-content-center{
    justify-content: center;
}

.container-justify-content-flex-end{
    justify-content: flex-end;
}

.container-justify-content-space-between{
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-justify-content-space-around{
    flex-wrap: wrap;
    justify-content: space-around;
}

/* cross axis */
.container-align-items-stretch{
    align-items: stretch;
}

.container-align-items-flex-start{
    align-items: flex-start;
}

.container-align-items-flex-end{
    align-items: flex-end;
}

.container-align-items-center{
    align-items: center;
}

.container-align-items-baseline{
    align-items: baseline;
}
